<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prueba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ejercicio38DibujarImagen"></activity>
        <activity android:name=".Ejercicio32DibujarRectangulos" />
        <activity android:name=".Ejercicio24Reproduccion" />
        <activity android:name=".Ejercicio16BaseSQLite" />
        <activity
            android:name=".ejercicio11segundoactivity"
            android:label="@string/title_activity_ejercicio11segundoactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>